@CHARSET "ISO-8859-1";

form {
	position: absolute;
	left: 290px;
	top: 170px;
	width: 720px;
	height: 520px;
	background-color: white;
	border-radius: 5px;
	font-family: verdana;
	box-shadow: 10px 10px 5px #2a0b08;
}

.input {
	margin-left: 35px;
}

#heading {
	color: red;
}

.btn {
	margin:auto;
  display:block;
  background-color: pink;
}

td
{
    padding:0 25px 0 25px;
}

#lnk{
    width: 115px;
    height: 25px; 
    background: pink;
    padding: 3px;
    text-align: center;
    color: black;
    text-decoration: blink;
    box-shadow: 5px 5px 2px #2a0b08;
}
}

a:link, a:visited { 
    color: black;
    text-decoration: underline;
    cursor: auto;
}

a:link:active, a:visited:active { 
    color: pink;
}

table{
	border-spacing: 5px;
}